<footer>
    <div class="top_footer">
        <div class="container">
            <a href="specialists.html">Специалисты</a>
            <a href="directions.html">Отделения</a>
            <a href="price.html">Услуги и цены</a>
            <a href="about.html">О клинике</a>
            <a href="contacts.html">Контакты</a>
        </div>
    </div>
    <div class="bottom_footer">
    </div>
</footer>
<div class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2 class="main_title">Записаться на прием</h2>
    <form action="#">
        <div class="d-flex">
            <input type="text" placeholder="Фио">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Выбрать врача">
            <select name="select" id="select">
                <option selected="">Пункт 1</option>
                <option>Пункт 2</option>
            </select>
            <select name="select" id="select">
                <option selected="">Пункт 1</option>
                <option>Пункт 2</option>
            </select>
        </div>
        <div class="box_center">
            <button class="enroll_btn">Записаться на прием</button>
        </div>
    </form>
</div>
