<header>
    <div class="top_header">
        <div class="container">
            <div class="d-flex">
                <a class="logo" href="index.html">
                    <img src="img/logo.png" alt="">
                </a>
                <p class="address">г. Санкт-Петербург, Московское шоссе, д 5</p>
                <p class="time">Пн-Пт 8:00 - 20:00, Сб-Вс 10:00 - 18:00</p>
                <a href="tel:+78124073232" class="number">+7 (812) 407-32-32</a>
            </div>
            <div class="hamburger">
                <a href="#" data-toggle="body" id="sidebar-toggle">
                    <div id="nav-icon2">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom_header">
        <div class="container">
            <nav class="d-flex">
                <div class="nav_item drop-down">
                    <a href="specialists.html">Специалисты</a>
                    <ul class="dropmenu">
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_item active drop-down">
                    <a href="directions.html">Направления</a>
                    <ul class="dropmenu">
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_item drop-down">
                    <a href="price.html">Услуги и цены</a>
                    <ul class="dropmenu">
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                        <li>
                            <a href="#">Санкт-Петербург</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_item">
                    <a href="about.html">О Клинике</a>
                </div>
                <div class="nav_item">
                    <a href="contacts.html">Контакты</a>
                </div>
                <div class="btn-nav_box d-flex">
                    <a class="btn-nav" href="#" data-remodal-target="modal">Записаться на прием</a>
                </div>
            </nav>
            <a href="tel:+78124073232" class="number">+7 (812) 407-32-32</a>
        </div>
    </div>
</header>
