@font-face {
    font-family: 'akrobat';
    src: url('akrobat-regular-webfont.woff2') format('woff2'),
         url('akrobat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
